@import './header';
@import './photo';
@import './social';

.landing{
  width: 100%;
  height: calc(100vh - 90px);
  min-height: 550px;
  padding: 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.redLine{
  display: inline-block;
  transform: scale(1);
  transform-origin: 0;
  transition: transform ease-in-out 0.4s;
  width: 100px;
  height: 1px;
  background: red;
  border-radius: 5px;
  margin-left: 10px;
}

@media screen and(min-width: 550px){
  .redLine{
    width: 150px;
  }
}
@media screen and (min-width: 1200px){
  .landing{
    width: 1200px;
    margin: 0 auto;
  }
}