.landing{
  &__photo{
    display: none;
    flex: 1;
    
    img{
      height: auto;
      width: 100%;
    }
  }
}
.landing--inactive{
  .landing__photo{
    &:after{
      animation: none;
    }
  }
}
@media screen and (min-width: 750px){
  .landing{
    &__photo{
      display: block;
      position: relative;
      overflow: hidden;
      transition: all 0.05s linear;
      &::after{
        content: url('https://images.unsplash.com/photo-1486074051793-e41332bf18fc?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
        position: absolute;
        opacity: 0;
        //animation: photoGlitch 2s alternate-reverse infinite;
        z-index: 1;
        top: 0;
        left: 0;
        transform: translate(0, 0) scale(1);
        width: 100%;
        height: 100%;  
      }
    }
  }
}
@keyframes photoGlitch{
  0%{
    transform: translate(0, 0);
    opacity: 0;
  }
  5%{
    transform: translate(-10%, 0) scale(1);
    opacity: 0.2;
  }
  10%{
    transform: translate(25%, 0) scale(1.1);
    opacity: 0.1;
  }
  15%{
    transform: translate(-25%, 0) scale(0.95);
    opacity: 0.2;
  }
  20%{
    transform: translate(100%, 0) scale(1);
    opacity: 0.1;
  }
  25%{
    transform: translate(5%, 0) scale(1.1);
    opacity: 0.3;
  }
  30%{
    transform: translate(0%, 0px) scale(1);
    opacity: 0.2;
  }
  35%{
    transform: translate(2%, 0) scale(0.5);
    opacity: 0.1;
  }
  40%{
    transform: translate(-18%, 0) scale(1.04);
    opacity: 0.1;
  }
  45%{
    transform: translate(51%, -20px) scale(1);
    opacity: 0.2;
  }
  50%{
    transform: translate(30%, -25px) scale(1.25);
    opacity: 0.1;
  }
  55%, 100%{
    transform: translate(0, 0) scale(1);
  }
}