@import "./styles/nav/nav";
@import "./styles/landing/landing";
@import "./styles/about-me/about-me";

* {
  box-sizing: border-box;
}
html {
  font-size: 62%;
}

body {
  font-family: "Lato", sans-serif;
  padding: 90px 0 0 0;
  margin: 0;
  background: #252525;
  overflow-x: hidden;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}